/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*Основные настройки страницы*/
.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--project-font), sans-serif;
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
}

/*Настройки шапки (mobile)*/
.header {
  height: 100vh;
  min-height: 668px;
  font: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  position: relative;
  align-items: start;
  justify-items: end;
  padding: var(--decore-gap) 0;
  padding-bottom: 55px;
}

.header__theme-menu {
  display: grid;
  padding-right: 10px;
  padding-top: var(--top-height);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  min-height: 26px;
  color: var(--stroke-color);
  font-weight: 400;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid transparent;
  pointer-events: none;
  outline: 1px solid var(--stroke-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--stroke-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-pointer);
}

/*Настройки rec, title, decorate zone (mobile)*/
.rec {
  display: var(--rec-vision);
  position: absolute;
  right: 28px;
  top: 12px;
}

.rec::before {
  content: "REC";
  font-weight: normal;
  color: var(--rec-color);
  top: 10px;
  margin-right: 10px;
}

.rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  top: 7px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.main-title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: var(--shadow);
  letter-spacing: 1px;
  padding: 70px 0px 35px 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: var(--deco-border) solid var(--stroke-color);
  border-right: var(--deco-border) solid var(--stroke-color);
  top: var(--decore-gap);
  right: var(--decore-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--deco-border) solid var(--stroke-color);
  border-left: var(--deco-border) solid var(--stroke-color);
  left: var(--decore-gap);
  bottom: var(--decore-gap);
}

.header-text {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: bold;
  font-size: inherit;
  margin: var(--decore-gap);
  min-height: 117px;
}

/*Настройки основной секции (mobile)*/
.main {
  margin-right: var(--decore-gap);
  margin-left: var(--decore-gap);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
}

.question {
  color: var(--title-decor);
  font-size: var(--regular-font-size);
  font-weight: bold;
  line-height: 23.4px;
  padding-top: 40px;
}

.text-answer {
  margin-bottom: 10px;
  color: var(--exp-text-color);
  font-size: 18px;
  font-weight: normal;
  font-family: var(--project-font), sans-serif;
}

.what-question {
  padding-top: 40px;
}

.how-question {
  padding-top: 40px;
}

.title-answer {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: var(--regular-font-size);
  margin-top: 20px;
  margin-bottom: 10px;
}

.down-title {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: var(--regular-font-size);
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: normal;
}

.text-link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

/*Настройки галереи (mobile)*/
.pic-question {
  margin-top: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 1366px;
  margin-bottom: 30px;
}

.item-gallery {
  padding: 0;
  list-style-type: none;
}

.image-gallery {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 0px;
  padding-bottom: 10px;
}

/*Настройки футера (mobile)*/
.footer {
  height: max(100vh, 668px);
  position: relative;
  display: grid;
  align-content: center;
  justify-items: center;
}

.footer-title {
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 23px;
}

/* Развертывание под 768px разрешение */
@media (width >= 768px) {
  /*Настройки шапки (tablet)*/
  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    align-self: center;
    padding: 0px 0px 130px 0px;
    grid-column: 1;
    grid-row: 2;
  }

  .header {
    min-height: 1024px;
    padding-bottom: 164px;
  }

  .header-text {
    width: 364px;
    min-height: 117px;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
  }

  .header__theme-menu {
    padding-right: 20px;
    padding-top: 169px;
    grid-column: 1;
    grid-row: 1;
  }

  .header__theme-menu-list {
    gap: 10px;
  }

  .rec {
    right: 39px;
    top: 1px;
    grid-column: 1;
    grid-row: 1;
  }

  /*Настройки основной секции (tablet)*/
  .section {
    padding-top: 41px;
  }

  .why-section {
    grid-template-columns: 1fr 2fr;
  }

  .why-question {
    padding-top: 20px;
  }

  .what-section {
    grid-template-columns: 1fr;
    padding-top: 69px;
  }

  .how-section {
    grid-template-columns: 1fr 2fr;
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .why-answer {
    width: 472px;
    justify-self: end;
  }

  .question {
    width: 236px;
    justify-self: start;
  }

  .what-question {
    padding-top: 0px;
  }

  .what-answer {
    width: 728px;
    justify-self: start;
  }

  .how-question {
    padding-top: 0px;
  }

  .how-answer {
    width: 472px;
    justify-self: end;
  }

  .up-title {
    margin-top: 0px;
  }

  /*Настройки галереи (tablet)*/
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-height: 780px;
    padding-bottom: 30px;
  }

  .image-gallery {
    padding-bottom: 0px;
  }

  .pic-question {
    margin-bottom: 18px;
    margin-top: 40px;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  /*Настройки футера (tablet)*/
  .footer {
    min-height: 1024px;
  }

  .footer-title {
    justify-self: center;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

/* Развертывание под 1024px разрешение */
@media (width >= 1024px) {
  /*Настройки шапки (desktop)*/
  .header {
    min-height: 768px;
    padding-bottom: 115px;
  }

  .header__theme-menu {
    position: absolute;
    bottom: 723px;
    justify-self: center;
    padding-right: 0px;
    grid-column: 1;
    grid-row: 1;
  }

  .rec {
    right: 39px;
    top: 1px;
    grid-column: 1;
    grid-row: 1;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    gap: 10px;
  }

  .header-text {
    width: 491px;
    min-height: 71px;
  }

  .main-title {
    padding-bottom: 0px;
    padding-top: 90px;
    align-self: center;
  }

  /*Настройки основной секции (desktop)*/
  .question {
    width: 314.96px;
    justify-self: start;
    padding-top: 10px;
  }

  .why-question {
    padding-top: 20px;
  }

  .why-answer {
    width: 648.92px;
    justify-self: end;
  }

  .what-answer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 984px;
  }

  .what-section {
    padding-top: 60px;
  }

  .how-section {
    padding-top: 70px;
  }

  .how-question {
    padding-top: 0px;
  }

  .how-answer {
    width: 649px;
  }

  .pic-question {
    margin-top: 40px;
  }

  .footer {
    min-height: 768px;
  }

  .footer-title {
    padding-top: 0px;
  }
}
