/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --regular-font-size: 18px;
  --project-font: "IBM Plex Mono", "Arial", sans-serif;
  --decore-gap: clamp(10px, 2.65vw, 20px);
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #db00ff;
  --shadow: 4px 4px 0px #ff0070;
  --accent-color: #ff0070;
  --text-color: #000028;
  --rec-color: #ff0070;
  --title-decor: #ff0070;
  --exp-text-color: #f1b2ce;
  --stroke-color: #ff0070;
  --border-pointer: #ff007066;
  --rec-vision: inline;
  --top-height: 9.5vh;
  --top-height-768px: 170px;
  --deco-border: 1px;
}
