/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --regular-font-size: 18px;
  --project-font: "IBM Plex Mono", "Arial", sans-serif;
  --decore-gap: clamp(10px, 2.65vw, 20px);
  --white-bg: #fff1f7;
  --black-bg: #000028;
  --red: #ff0070;
  --deco-border: 1px;
  --black: #000028;
  --pink: #ff8dcb;
  --white-theme-black: #353430;
  --black-title: #ff0070;
  --white-title: #353430;
  --exp-text-black: #f1b2ce;
  --exp-text-white: #353430;
  --link-shadow-dark: 4px 4px 0px #ff0070;
  --link-shadow-light: 4px 4px 0px #ff8dcb;
}
